.DS_Store
application/cache
application/logs
application/config/database.php
application/config/bootstrap.php
sistema/app/config/config.php
bin/vendor/datagrip
bin/vendor/elasticsearch*
bin/vendor/PathPicker
bin/experiments/*
lock
linux/packages/.*_cache
bin/dummy