[Desktop Entry]
Type=Application
Exec=~/bin/set_gnome_gsettings.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Gnome gsettings
Name=Gnome settings
Comment[en_US]=Configure settings and shortcuts
Comment=Configure settings and shortcuts
