[Desktop Entry]
Type=Application
Exec=/usr/bin/zeal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Zeal
Name=Zeal
Comment[en_US]=Zeal
Comment=Zeal
