[Desktop Entry]
Type=Application
Name=Spotify 4k
Icon=/home/thiago/.dotfiles/linux/gnome-shortcuts/spotify.png
Exec=spotify --uri="%u"
Comment=Music
Categories=Music;
Terminal=false
