[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings
Comment=Configure NVIDIA X Server Settings
Exec=/home/thiago/bin/init_nvidia_settings.sh
Terminal=false
Icon=nvidia-settings
Categories=System;Settings;
Name[en_US]=NVIDIA X Server Settings
