[Desktop Entry]
Type=Application
Exec=/home/thiago/bin/fix_nvidia_screen_tearing.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=NVIDIA X Server Settings - 2
Name=Fix Nvidia screen tearing
Comment[en_US]=
Comment=
