[Desktop Entry]
Type=Application
Exec=sh -c "rclone --allow-non-empty --vfs-cache-mode writes mount "OneDrive":  ~/OneDrive"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=OneDrive
Name=OneDrive
Comment[en_US]=OneDrive
Comment=OneDrive
