[Desktop Entry]
Type=Application
Exec=bash -c "$HOME/bin/position-sticky-notes --delay"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=z - Position sticky notes
Name=Position sticky notes
Comment[en_US]=
Comment=
