[Desktop Entry]
Type=Application
Exec=sudo /home/thiago/bin/restart-sysctl
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Restart sysctl
Name=Restart sysctl
Comment[en_US]=
Comment=
