[Desktop Entry]
Type=Application
Exec=/home/thiago/bin/setup-trackball
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=a - Setup trackballs
Name=Setup MX Ergo Trackball
Comment[en_US]=Run setup-trackballs after input-remapper
Comment=Running setup-trackball before input-remapper
