[Desktop Entry]
Type=Application
Exec=bash -c "sudo $HOME/bin/toggle_keychron_media_keys off"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Keychron Keyboard
Name=Keychron Keyboard
Comment[en_US]=Fix Keychron Keyboard
Comment=Fix Keychron Keyboard
