[Desktop Entry]
Type=Application
Exec=/usr/bin/xbindkeys
Hidden=true
NoDisplay=false
X-GNOME-Autostart-enabled=false
Name[en_US]=xbindkeys
Name=xbindkeys
Comment[en_US]=
Comment=
