[Desktop Entry]
Type=Application
Exec=bash -c "sleep2; $HOME/bin/start-xkeysnail"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xkeysnail
Name=xkeysnail
Comment[en_US]=xkeysnail to remap the keyboard
Comment=xkeysnail to remap the keyboard
