[Desktop Entry]
Type=Application
Exec=gtk-launch org.zealdocs.Zeal
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Zeal
Name=Zeal
Comment[en_US]=Zeal
Comment=Zeal
