[Desktop Entry]
Type=Application
Exec=bash -c "sleep 5; zeal"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Zeal
Name=Zeal
Comment[en_US]=
Comment=
